.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.count-container {
  height: 100px;
}

.img-wrapper {
  border: black solid 1px;
  align-items: center;
  justify-content: center;
  display: flex;
  min-height: 400px;
  min-width: 640px;
}

.btn {
  margin: 30px;
  font-size: 21px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
